{% extends 'base.html.twig' %}

{% block body %}

    <a class="logo" href="{{ path('main_home') }}"><img src="{{ asset('img/abc.png') }}" alt="ABCDaire" ></a>

    {% include('inc/nav.html.twig') %}

    <div class="zoom d-flex justify-content-center">
        <img src="{{ asset('img/maya.png') }}" alt="logo maya"  >
        <div class="p-2 m-2"><a href="{{ path('main_a') }}"><img src="{{ asset('img/A.png') }}" alt="logo A" width="20px"> </a></div>
        <div class="p-2 m-2"><a href="{{ path('main_b') }}"><img src="{{ asset('img/B.png') }}" alt="logo A" width="20px"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/C.png') }}" alt="logo C"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/D.png') }}" alt="logo D"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/E.png') }}" alt="logo E"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/F.png') }}" alt="logo F"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/G.png') }}" alt="logo G"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/H.png') }}" alt="logo H"> </a></div>

    </div>
    <div class="zoom d-flex justify-content-center">
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/I.png') }}" alt="logo I"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/J.png') }}" alt="logo I"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/K.png') }}" alt="logo B"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/L.png') }}" alt="logo C"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/M.png') }}" alt="logo D"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/N.png') }}" alt="logo E"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/O.png') }}" alt="logo F"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/P.png') }}" alt="logo G"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/Q.png') }}" alt="logo H"> </a></div>
    </div>
    <div class="zoom d-flex justify-content-center">
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/R.png') }}" alt="logo I" width="10px"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/S.png') }}" alt="logo I"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/T.png') }}" alt="logo B"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/U.png') }}" alt="logo C"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/V.png') }}" alt="logo D"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/W.png') }}" alt="logo E"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/X.png') }}" alt="logo F"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/Y.png') }}" alt="logo G"> </a></div>
        <div class="p-2 m-2"><a href="#"><img src="{{ asset('img/Z.png') }}" alt="logo H"> </a></div>
        <img src="{{ asset('img/solveig.png') }}" alt="logo solveig">
    </div>


{% endblock %}